<body>
  <br />

  <form action="" method="get">
    <div class="row mb-4">
      <div class="form-group col-md-9">
        <input id="exampleFormControlInput5" type="email" placeholder="Nhập tên sản phẩm bạn muốn tìm"
          class="form-control form-control-underlined pl-4" />
        <input name="search_shop"
          id="exampleFormControlInput5"
          type="text"
          placeholder="Nhập tên sản phẩm bạn muốn tìm"
          class="form-control form-control-underlined pl-4"
        />
      </div>
      <div class="form-group col-md-3">
        <button type="submit" class="btn btn-outline-success rounded-pill btn-block shadow-sm" {{! T để sẵn cho nè }}
          {{! name="category" value="kit" }}>Tìm kiếm</button>
      </div>
    </div>
  </form>

  {{! 2 }}
  <div class="flex-container row">
    <div class="row">
      <!-- Example single danger button -->
      <div class="col">
        <div class="btn-group danh-muc">
          <button type="button" class="btn btn-white dropdown-toggle hop-danh-muc" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Danh mục sản phẩm
          </button>
          <form method="get">
            <div class="dropdown-menu">
              <form action="" method="get">
                <button type="submit" class="btn btn-white dropdown-item hop-danh-muc-san-pham" name="category"
                  value="kit">Kit</button>
              </form>
              <div class="dropdown-divider"></div>
              <form action="" method="get">
                <button type="submit" class="btn btn-white dropdown-item hop-danh-muc-san-pham" name="category"
                  value="keycap">Keycap</button>
              </form>
              <div class="dropdown-divider"></div>
              <form action="" method="get">
                <button type="submit" class="btn btn-white dropdown-item hop-danh-muc-san-pham" name="category"
                  value="switches">Switches</button>
              </form>
            </div>
          </form>
        </div>
      </div>

      <div class="col">
        <div class="btn-group danh-muc">
          <button type="button" class="btn btn-white dropdown-toggle hop-danh-muc" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Danh mục thương hiệu
          </button>
          <form method="get">
            <div class="dropdown-menu">
              <form action="" method="get">
                <button type="submit" class="btn btn-white dropdown-item hop-danh-muc-san-pham" name="brand"
                  value="Akko">Akko</button>
              </form>
              <div class="dropdown-divider"></div>
              <form action="" method="get">
                <button type="submit" class="btn btn-white dropdown-item hop-danh-muc-san-pham" name="brand"
                  value="Cherry">Cherry</button>
              </form>
              <div class="dropdown-divider"></div>
              <form action="" method="get">
                <button type="submit" class="btn btn-white dropdown-item hop-danh-muc-san-pham" name="brand"
                  value="KTT">KTT</button>
              </form>
              <div class="dropdown-divider"></div>
              <form action="" method="get">
                <button type="submit" class="btn btn-white dropdown-item hop-danh-muc-san-pham" name="brand"
                  value="FL Esports">FL Esports</button>
              </form>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="flex-container row">
    <div class="row">
      <!-- sanpham1 -->
      {{#each products}}
      <div class="card san-pham" style="width: 16rem;">
        <a href="/shop/{{id_product}}">
          <img class="card-img-top" src="products/1.jpg" alt="Card image cap" width="240" height="240" />
        </a>

        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <h6 class="card-text gia-tien-san-pham">{{price}}đ</h6>
          <form method="post">
            <button class="btn btn-light" name="cart" type="submit" value="{{id_product}}">THÊM
              VÀO GIỎ HÀNG
              {{!-- <i class="bi-cart" style="color: red;" name="cart" value="{{id_product}}"></i> --}}
            </button>

            {{!-- <script>
              function addToCart() {
                alert('Item added to cart!') //add item
                to cart
              }
            </script> --}}
          </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>

{{! }}